.cart-container{
    background-color: #0d6efd;
    border-radius: 5px;
    display: flex;
    width: 65px;
    align-items: center;
    color:white;
    margin: 5px 15px;
    max-height: 40px;
    justify-content: space-evenly;
    padding: 15px;
    gap:8px;
}

.cantidad-carrito{
    margin: 0px !important;
}
