.card{
    border: 3px;
    border-radius: 8px;
    border-style: solid;
    border-color: #000;
    background-color: #FFF;
    width: 250px;
    height: 400px;
    align-items: center;
    margin: 5px 5px;
}

.card img {
    height: 240px;
    width: 240px; 
    padding: 25px;
    margin:5px;
    background-color: #FFF;
}

.card-description{
    /* background-color: pink; */
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    height: 40px;
    width: 100%;
    color:#3b3b3d;
}

.card-price{
    /* background-color: brown; */
    text-align: center;
    font-weight: 700;
    font-size: 26px;
}

.card-button{
    padding: 15px;
}

.btn-card{
    font-size: 14px;
    border-radius: 8px;
    padding: 5px 10px;
    background-color: #FFF;
    font-family: 'Inter';
    font-weight: 700;
}

.btn-card:hover{
    border-color: #0d6efd;
    color:#0d6efd;
}