.navbar-contenedor{
    background-color: white;
    width:100%;
    display: flex;
    color:black;
    font-family: 'Inter', sans-serif;
    align-items: center;
    justify-content: center;
    height: 60px;
    gap:45px;
}

.menu{
    list-style: none;
    padding: 0;
    margin:0;
    display:flex;
}

.img_logo{
    max-height: 50px;
}

.btn-navbar-container{
    display: flex;

}

.btn-primary{
    background-color: red;
}

.classActive {
    padding: 16px;
    align-items: center; 
    display: block;
    text-decoration: none;
    Font-family: Inter;
    font-weight: bold;
    Font-size: 12px;
    Line-height: 19px;
    Line-height: 100%;
    text-align: Left;
    letter-spacing: 0.5px;
    color: #0d6efd;
}

.classInactive {
    padding: 16px;
    align-items: center; 
    display: block;
    text-decoration: none;
    Font-family: Inter;
    font-weight: bold;
    Font-size: 12px;
    Line-height: 19px;
    Line-height: 100%;
    text-align: Left;
    letter-spacing: 0.5px;
    color: #060D1D;
}