.item-detail{
    display: inline-flex;
    background-color: white;
    width: 840px;
    height: 500px;
    align-items: center;
    margin:30px;
    border-radius: 8px;
    justify-content:space-evenly;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%), 0 -1px 2px 0 rgb(0 0 0 / 10%);
}

.img-container{
    width: 400px;
    height: auto;
    vertical-align: middle;
    /* border-style: solid;
    border-radius: 9px;
    background-color: blue; */
}

.img-container img{
    align-items: center;
    vertical-align: middle;
    height: 300px;
    width: 300px;
    box-sizing: border-box;
}

.detail{
    
    text-align: left;
    align-items: center;
}

.detail h2{
    font-weight: 700;
}

.item-container{
    padding: 0px;
    background-color: white;
}

.detail-count{
    text-align: left;
}