.grid-product{
    /* background-color: yellow; */
    display: inline-flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    /* margin-left:15%;
    margin-right: 15%;*/
    width: 1040px; 
}

.section-title{
    padding-left: 60px;
    /* background-color: violet; */
    height: 0px;
    align-items: center;
}

.grid-product-container{
    justify-content: center;
    background-color: #bbb;
    
}